.background {
  display: table;
  width: 100%;
  position: relative;

  .contenido {
    display: table-cell;
    vertical-align: bottom;
    padding: 0 20px 20px 20px;
    position: relative;
    font-size: 1rem;

    p {
      color: $blanco;
      font-size: 1.3rem;
      font-weight: 700;
    }
  }
}

.london {
  @include imagenFondo('../img/imagen02.jpg', 600px, top center );
}

.estacion {
  @include imagenFondo('../img/imagen03.jpg', 200px);
}