.btn {
  @include border-radius(5px);
  display: block;
  background-color: darken($fondo-boton, 10);
  color: $texto-boton;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 10px;
  font-size: 1rem;
  transition: all .3s ease;
  @include tablet {
    display: inline-block;
  }

  &:hover {
    background-color: darken($fondo-boton, 20);
  }
}

.btn-verde {
  @extend .btn;
  background-color: $verde;
}