body {
  background-color: $color-fondo;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  color: $color-principal;
  font-family: $fuente-principal;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-titulos;
  font-family: $fuente-titulos;
}

.container {
  margin: 0 auto;

  @include tablet{
    width: 90%;
  }

  @include desktop{
    width: 1000px;
  }
}

#contenido-principal {
  box-sizing: border-box;
  padding-right: 40px;
  @include tablet{
    width: 66.7%;
    float: left;
  }
}

aside {
  @include tablet{
    width: 33.3%;
    float: right;
  }
}