@mixin tablet {
  @media only screen and (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: #{$desktop}) {
    @content;
  }
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin imagenFondo($imagen, $height: 100vh, $bgPos: center center) {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0,), rgba(0, 0, 0, .6)), url($imagen);
  background-repeat: no-repeat;
  background-position: $bgPos;
  background-size: cover;
  height: $height;
}

@mixin border-radius($border){
  border-radius: $border;
}

@mixin gridImagenes($cantidad, $margen) {
  width: ((100% - (($cantidad - 1) * $margen)) / $cantidad);
  &:nth-child(n) {
    margin-right: $margen;
    margin-bottom: $margen;
  }
  &:nth-child(#{$cantidad}n + 1) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}